<%- include('partials/header') %>
<link rel="stylesheet" href="/css/login.css" />
<div class="login-container">
  <div class="side-img">
    <img src="/images/side-image.png" alt="" />
  </div>
  <div class="login-form">
    <h2>Log in to ShopBetter</h2>
    <p>Enter your details below</p>
    <% if (typeof error !== 'undefined') { %>
    <div class="error-message">
      <i class="fas fa-exclamation-circle"></i>
      <span><%= error %></span>
    </div>
    <% } %>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
